/* Universal selector */
* {
    font-family: monospace;
}

/* Variables */

:root {
    --dark-color: #2c2c2c;
    --light-color: #c7c7c7;
}

/* Element selectors */

body {
    background-color: var(--light-color);
}

header {
    padding: 15px 20px 15px 20px;
    background-color: var(--dark-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: var(--light-color);
}

header nav {
    float: right;
    padding-right: 20px;
}

main {
    color: var(--dark-color);
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    font-family: monospace;
}

footer {
    padding: 20px;
}

a {
    color: var(--light-color);
    text-decoration: none;
}

/* Class selectors */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

main section.flex-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex; */
    margin: auto;
}

.project-img {
    width: 100%;

    object-fit: cover;
}

#code-refactor-fig:hover {
    transform: scale(1.1);
    opacity: .8;
    box-shadow: 0px 0px 10px var(--light-color);
}

.project-title {

    display: inline-block;
    width: auto;
    left: 30%;
    bottom: 2%;
    position: absolute;
    padding: 5px;
    background-color: #4b748a;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dark-color);
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-color);
    transition: transform 0.5s, opacity 0.5s;
}

.box-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
    word-break: break-word;
  }

  .box-caption {
    position: absolute;
    max-width: 200px;
    word-break: break-word;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dark-color);
  }

/* ID selectors */

#avatar-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 100px;
    box-shadow: 0px 0px 10px var(--light-color);
}

#name-title {
    padding-left: 20px;
    font-family: monospace;
    font-size: 2rem;
}

#hero-img {
    height: 300px;
    width: 100%;
    background-image: url("../images/bgimg.jpg");
    background-size: cover;
    background-position: 30% 30%;
    padding: 20px;
}

#code-refactor-fig {
    position: relative;
    display: block;
    height: 200px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    transition: transform 0.5s, opacity 0.5s;
}

/* Media queries */

/* Keep main content section layout normal for devices >= 769px */
@media screen and (min-width: 769px) {
    .main-heading {
        font-size: 2rem;
        padding: 20px;
        min-width: 190px;
        margin-right: 50px;
        text-align: right;
    }
    
    .main-p,
    #work-projects {
        font-size: 1.5rem;
        padding: 20px;
        padding-left: 50px;
        border-left-style: solid;
        border-left-width: 2px;
        max-width: 80%;
    }
}

/* Make main content sections read vertically for devices <= 768px */
@media screen and (max-width: 768px) {
    main section.flex-container {
        flex-direction: column;
    }

    .main-heading {
        font-size: 2rem;
        padding: 20px;
        min-width: 190px;
        margin-bottom: 50px;
        text-align: center;
    }

    .main-p,
    #work-projects {
        font-size: 1.5rem;
        padding: 20px;
        padding-top: 50px;
        border-top-style: solid;
        border-top-width: 2px;
        max-width: 80%;
    }
}